.menu{
    width: 100%;
    height: 30px;
    background-color: #29597F;
    color: white;
    padding: 5px 10px;
    display: table;

}

.menu .__title{
    width: 30%;
    display: table-cell;
    vertical-align: middle;
}

.menu .__title h3{
    margin:0;
}

.menu .__dropdown{
    width: 69%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right:20px;
}

.menu .__dropdown table{
    float:right;
}

.NauticalMiles{
    font-size: 30px;
    margin:0px;
    width: 100%;
    text-align: center;
}