.searchBox{
    width: 250px;
    position: relative;
    display: inline-block;
}

.searchBox input{
    width: 100%;
}

.searchBox ul{
    width: 250px;
    margin:0px;
    padding:2px;
    list-style-type: none;
    max-height: 100px;
    background-color: white;
    border:1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top:20px;
    left:0px;
    z-index: 1000;
}

.searchBox ul li{
    color:black;
    font-size: 12px;
    padding: 0px;
    cursor: pointer;
    padding:5px 5px;
    text-align: left;
}

.searchBox ul li:hover{
    background-color:lightskyblue; 
    color:black;
}